.App {
  &__PieChartWrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__PieChartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
  }
  &__PieChartText {
    width: 10%;
  }
}